<nav class="app-navbar" id="app-navbar" role="navigation">
  <div class="app-navbar-header">
      <div class="app-navbar-header-toggle">
        <button type="button" class="app-navbar-toggle navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#app-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            &#9776;
        </button>
       </div>
  </div>

  <div class="navbar-collapse app-navbar-collapse collapse navbar-toggleable-xs" id="app-navbar-collapse">
    <ul class="app-navbar-nav" id="app-navbar-nav">
      <li class="app-navitem active">
        <a class="app-navitem-tab app-navitem-tab-home" href="{{ page.base_url }}">
          <span>Startseite</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-aktuelles" href="{{ page.base_url }}aktuelles">
          <span>Aktuelles</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-landratsamt" href="{{ page.base_url }}landratsamt">
          <span>Landratsamt</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-service" href="{{ page.base_url }}service">
          <span>Service</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-info" href="{{ page.base_url }}info">
          <span>Info</span>
        </a>
      </li>
      <li class="app-navitem">
        <a class="app-navitem-tab app-navitem-tab-hier-leben" href="{{ page.base_url }}hier-leben">
          <span>Hier Leben</span>
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
