<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
      <p class="app-copyright">
        <strong>&copy; {{ site.time | date: '%Y' }} Dr. Robert Baur &middot; Alle Rechte vorbehalten</strong><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}impressum">Impressum</a><br class="visible-xs">
        &middot; <a href="{{ page.base_url }}kontakt">Kontakt</a>
        &middot; Site by <a href="http://kreativkombinat.de">KK</a><br class="visible-xs">
      </p>
    </div>
</footer>