<header class="app-header" id="app-header" role="banner">
  <div class="app-header__content">
      <div class="app-header__section app-header__section--burger">
          Navigation
          <button type="button" class="app-nav-bar__toggle app-nav-bar__toggle--burger js-nav-toggle">
              <span class="sr-only">Toggle navigation</span>
              &#9776;
          </button>
      </div>
      <div class="app-header__wrapper">
      <section class="app-header__section">
          <div class="app-header-panels">
              <div class="app-header-panel app-header-brandbar">
                  {% include components/logo.html %}
              </div>
          </div>
      </section>
      <section class="app-header__section">
          <div class="app-header-panels">
              <div class="app-header-panel app-header-navbar">
               {% include components/navbar.html %}
             </div>
          </div>
      </section>
    </div>
  </div>
</header>
