//
// Banner
// -----------------------------------------

//** Fullscreen container bar
.app-bannerbar {
  //background: $app-primary;
}

//== Banner container
//
//## Uses a container mixin for responsive sizing
.app-banner {
    
  // min-height: 430px;
}

//== Single banner item
//
//## This part will be filled dynamically with
//## content and a lazyloaded background image
//.app-banner-item {
//  position: relative;
//  height: 100%;
//  min-height: 430px;
//}
//
////** Banner caption
//.app-banner-item-caption {
//  position: absolute;
//  top: 66%;
//  left: 0;
//  padding-left: 1rem;
//  padding-right: 1rem;
//  line-height: 1.25;
//  color: gray('400');
//  a {
//    color: gray('400');
//    text-decoration: underline;
//  }
//}
//
//.app-banner-item-title {
//  font-size: 1.5rem;
//  font-weight: 500;
//}




.app-banner {
    @include make-container();
    @include make-container-max-widths();
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    width: 100%;
        @include media-breakpoint-up(md) {
        margin-left: auto;
        margin-left: auto;
        margin-bottom: 1rem;
        height: 100%;
        min-height: 320px;
        }
}

.app-banner-image {
    @extend.img-fluid;
}

/* ---- Single banner item ---- */
//
//## This part will be filled dynamically with
//## content and a lazyloaded background image
.app-banner-item {
    position: relative;
    height: 100%;
    min-height: 320px;
    width: 100%;
    background-size: cover !important;
    background-position: top center;
}

.app-banner-item-content {
    width: 100%;
    color: #fff;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 72%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 72%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 72%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.app-banner-item-body {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: 0 auto;
    color: #fff;
    padding: 2rem 2rem 1rem 2rem;
        @include make-container();
        @include make-container-max-widths();
            @include media-breakpoint-up(sm) {
            padding: 1rem 2rem;
            bottom: 2rem;
        }
}

.app-banner-item-title,
.app-banner-item-headline {
    font-size: 1.2rem;
        @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }
}

.app-banner-item-description {
    font-size: 0.9rem;
}

.app-banner-item-abstract {
    text-transform: none;
}

.app-banner-text {
    font-size: 1rem;
    a {
        color: #fff;
    }
}

/* ---- flickity transform overrides ---- */

.flickity-slider { 
    transform: none !important; 
}

.app-banner-item {
    left: 0 !important;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.app-banner-item.is-selected {
    opacity: 1;
}


/* ---- flickity overrides ---- */

.flickity-prev-next-button {
  background: transparent;
  border: 0;
  position: absolute;
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-prev-next-button:hover {
    background: none;
}

.flickity-page-dots {
    text-align: right;
    bottom: 10px !important;
    padding-right: 3rem;
}

.flickity-page-dots .dot {
    background: #fff;
}

.flickity-page-dots {
    display: none;
        @include media-breakpoint-up(sm) {
        display: block;
        text-align: right;
        padding-right: 1rem;
    }
}

