// Reuse bs v4 breadcrumb component
// to keep styles concise
.app-breadcrumbs {
  display: none;
    @include make-container();
    @include make-container-max-widths();
    @extend .breadcrumb;
    padding-left: 1rem;
    background: transparent;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.app-breadcrumbs-item {
  display: inline;
    @extend .breadcrumb-item;
    > a {
        color: $app-secondary;
    }
}
