//
// Pathbar stylesheet based on Plone 5 Styles
// -----------------------------------------------

.app-pathbar {
  font-size: $font-size-sm;
  background-color: transparent;
  margin-bottom: 0;
  margin-top: 1.2rem;
  @include media-breakpoint-down(xs) {
      display: none;
    }
  > * > span { //you are here
    display: inline-block;
    color: $gray-light;
    padding: $breadcrumb-padding-vertical 0 $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    font-weight: 100;
  }

 #breadcrumbs-you-are-here {
   padding-left: $spacer / 2;
 }
 ol {
   display: inline-block;
   padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal ;
   list-style: none;
   margin: 0;
   > li {
     font-weight: 100;
     display: inline-block;
     line-height: 0; // match ol & span height
     position: relative;
     padding: 0;
     + li:before {
       content: " > ";
       padding: 0 0.5rem;
       //position: absolute;
       //padding: 0 5px;
       color: #000;
       //border-left: 5px solid;
       //border-top: 15px solid transparent;
       //border-bottom: 15px solid transparent;
       //left: -20px;
       //top: -15px;
       //padding: 0 !important;
     }
   }
   > #breadcrumbs-current {
     color: $breadcrumb-active-color;
   }
 }
 body.section-front-page & {display: none;} //not breadcrumbs on homepage
}
