//
// Footer
// -----------------------------------

.app-footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: url(../assets/img/footer.jpg) repeat-x top center transparent;
}

.app-footer-content {
  @extend .container;
  font-weight: 400;
  padding: 0 2rem !important;
  @include media-breakpoint-up(md) {
      padding: 0 !important;
    }
  a {
    text-transform: uppercase;
    color: $app-blue-primary;
  }
}

.app-footer-logo {
	max-width: 300px;
	.app-brandname-logo {
		width: 300px;
		path {
  			fill: #fff;
		}
	} 
}