//
// Footer
// -----------------------------------

.app-footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: url(../assets/img/footer.jpg) repeat-x top center transparent;
}

.app-footer-content {
  @include make-container();
  @include make-container-max-widths();
  font-weight: 400;
  padding: 0 2rem !important;
  @include media-breakpoint-up(md) {
      padding: 0 !important;
    }
  a {
    text-transform: uppercase;
    color: $app-blue-primary;
  }
}

.app-footer-logo {
	width: 100%;
	.app-brandname-logo {
    padding-top: 0;
    @include media-breakpoint-up(md) {
      width: 300px;
      padding-top: 2rem;
    }
		path {
  			fill: #fff;
		}
	} 
}

.app-copyright {
  padding: 0 1rem;
}