//
// Header
// ------------------------------------------


.app-header {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
    }
}

.app-header__content {
    //@include make-container();
    //@include make-container-max-widths();
}

.app-header__wrapper {

}

.app-header__section {
    @include make-container();
    @include make-container-max-widths();
    padding-left: 2rem;
    padding-right:2rem;
    text-align: left;
    width: 100%;
    @include media-breakpoint-up(lg) {
        padding-left: 1rem;
        padding-right:1rem;
        }

    &--burger {
        text-align: right;
        // TODO: remove when switching implementation to default
        display: block;
        //padding-top: 1rem;
        margin-bottom: 1rem;
        color: $app-primary;
        //margin-left: 1rem;
        //margin-right: 1rem;
        //padding-right: 1rem;
        //padding-bottom: 1rem;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}

.app-header__navsection {
  
}

.app-header-panels {
  @include make-row();
  margin-right: 0;
  margin-left: 0;
    flex-wrap: wrap;
}

.app-header-panel {
    @include when-inside('.no-flexbox') {
        display: table-cell;
    }
    &.app-header-brandbar {
        @include make-col(12);
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

    }

    &.app-header-navbar {
        //min-height: 100px;
        width: 100%;
        @include make-col(12);
    }
}
