//
// Navbar
// -----------------------------------------

.app-navbar {
  @extend.navbar;
  line-height: $line-height-computed / 1.5;
  min-height: $line-height-computed * 1.5;
  margin-bottom: 0;
  border: 1px solid $app-gray;
  border-radius: $border-radius-base;
  @media (min-width: $screen-sm-min) {
    border: 0;
    border-radius: $border-radius-base;
  }

}



// Navbar toggle button visible on small displays
.app-navbar-toggle {
  border-color: $app-gray;
  &:hover,
  &:focus {
    background-color: $navbar-default-toggle-hover-bg;
  }
  .icon-bar {
    background-color: $navbar-default-toggle-icon-bar-bg;
  }
  // Bars
  .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 8px;
  }
}

.app-navbar-collapse {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

// Unordered list main navigation
.app-navbar-nav {
  align-items: center;
  margin-bottom: 0;
  padding: 0 $line-height-computed;
  list-style: none;
  @media (min-width: $screen-sm-min) {
    padding: 0 $line-height-computed;
  }
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
  @extend.clearfix;
  @media (min-width: $grid-float-breakpoint-max) {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

//== Navitems
//
//## Color coded based on addon classes
.app-navbar-nav li {
  width: 100%;
  padding-top: 1rem;
  @media (min-width: $grid-float-breakpoint-max) {
    padding-top: 0;
    width: auto;
    background: transparent url("../assets/img/dot.png") no-repeat scroll right 7px;
    &:last-child {
      padding-right: 0;
    }
  }
}

#portaltab-kontakt {
  background: transparent;
}

.app-navbar-nav li a {
    padding-right: 1.4rem;
    padding-left: 0;
    color: $app-blue-primary;
    font-size: $font-size-base / 1.05;
    text-transform: uppercase;
    @media only screen 
      and (min-device-width : 768px) 
      and (max-device-width : 1024px) 
      and (orientation : landscape) { font-size: $font-size-base / 1.5; }
      
    font-weight: 500;
    line-height: 1;
    transition: background-color 0.5s ease;
    &:hover {
      color: $app-primary-base;
      background-color: transparent;
      text-decoration: none;
    }
    > span {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
    @media (min-width: $grid-float-breakpoint-max) {
      display: flex;
      //align-items: center;
      //text-align: center;
    }
}

.app-navbar-nav  > .selected > a,
.app-navbar-nav  > .selected > a:focus,
.app-navbar-nav  > .selected > a:hover {
    background-color: transparent;
    color: $app-primary-base !important;
}

.app-navitem-tab-meisterlich-fuehren {
  padding-left: 0 !important;
}

.divider {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    color: #333;
}//