//
// Main site theme
// --------------------------------------


.app-wrapper {
  background: transparent;
  @include media-breakpoint-up(lg) {
    background: url(../assets/img/bg.gif) repeat-x top center transparent;
  }
}

.app-outer-contentwrapper {
  @include make-container();
  @include make-container-max-widths();
  border-radius: $border-radius-sm;
  padding: 2rem;
}

.section-kontakt .app-outer-contentwrapper {
  margin-top: 1rem;

}

.app-inner-contentwrapper {
  @include make-row();
  background: #fff;
  border-radius: $border-radius-sm;
  margin-bottom: 2rem;
}

.app-aside {
  @include make-col(12);
  border-radius: $border-radius-sm;
  @include media-breakpoint-up(md) {
    @include make-col(4);
    padding: 1rem;
  }

  .card {
    border: 0;
    border-radius: $border-radius-sm;
  }

  .card-header {
    display: none;
  }

}


//== Main content area
//
//## Provides optional fullscreen layouts
.app-main {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(8);
    padding: 1.5rem 2rem;
  &-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
    }
  } 
}

.app-main-login {
  @extend .container;
  text-align: center;
  .app-brandname-logo {
    margin: 2rem auto;
    width: 400px;
  }
}

.app-content {
  //@extend .container;
  &-centerstage {
    //@extend .container-fluid;
    //@extend .center-block;
    max-width: 480px;
  }
}


//== Page styles
//
//## Define content specific styles
.app-page {
  padding: 1rem;
  //@extend .container;
  background: #fff;
}

.app-page-title {
  //@extend .page-header;
  .app-page-headline {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $app-blue-primary;
  }
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page-lead,
.app-page-abstract {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}

.app-page-body {
  ul, ol {
    padding-left: 1rem;
  }
}

.app-page-body {
  ul li, 
  ol li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}


//== Page section
//
//## Container providing visual separation
.app-page-section {
  margin: 1rem 0 2rem;
}

.image-inline {
  @extend .img-fluid;
  width: 100%;
  border-radius: $border-radius-sm;
}

.app-img {
  @extend .img-fluid;
  width: 100%;
}

.highlight {
  background: #CAE1FF;
  padding: 2rem;
  text-align: center;
}