//
// Main site theme
// --------------------------------------


.app-wrapper {
  @media (min-width: $screen-md-min) {
    background: url(../assets/img/bg.gif) repeat-x top center transparent;
  }
}

.app-outer-contentwrapper {
  @extend .container;
}

.app-inner-contentwrapper {
  @extend .row;
  //display: flex;
  //align-items: left;
  background: #fff;
  border-radius: $border-radius-base;
  margin-bottom: 2rem;
}

.app-aside {
  @extend .col-sm-4;
  @media (min-width: $screen-md-min) {
    padding-left: 2rem;
  }

}


//== Main content area
//
//## Provides optional fullscreen layouts
.app-main {
  @extend .col-sm-8;
  &-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.app-main-login {
  @extend .container;
  text-align: center;
  .app-brandname-logo {
    margin: 2rem auto;
  }
}

.app-content {
  //@extend .container;
  &-centerstage {
    //@extend .container-fluid;
    @extend .center-block;
    max-width: 480px;
  }
}


//== Page styles
//
//## Define content specific styles
.app-page {
  padding: $line-height-computed;
  //@extend .container;
  background: #fff;
}

.app-page-title {
  //@extend .page-header;
  .app-page-headline {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: $app-blue-primary;
  }
}


// Use custom lead element for page desciptions
// that has proper line-height on all media types
.app-page-lead,
.app-page-abstract {
  margin-bottom: $line-height-computed;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  @media (min-width: $screen-sm-min) {
    font-size: 1.5rem;
  }
}

.app-page-body {
  ul, ol {
    padding-left: 1rem;
  }
}


//== Page section
//
//## Container providing visual separation
.app-page-section {
  margin: 1rem 0 2rem;
}

.image-inline {
  @extend .img-responsive;
  width: 100%;
  border-radius: $border-radius-base;
}

.highlight {
  background: #ccc;
  padding: 2rem;
  text-align: center;
}